button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
  --background-color: var(--color-primary);
  --border-color: var(--color-primary);
  --color: var(--color-primary-inverse);
  --box-shadow: var(--shadow-button, 0 0 0 rgba(0, 0, 0, 0));
  --button-roundness: var(--sizing-border-radius);
  padding: var(--spacing-form-element-vertical)
    var(--spacing-form-element-horizontal);
  border: var(--sizing-border-width) solid var(--border-color);
  border-radius: var(--button-roundness);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1rem;
  line-height: var(--line-height);
  text-align: center;
  cursor: pointer;

  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition), box-shadow var(--transition);
}

button:is([aria-current], :hover, :active, :focus),
input[type="submit"]:is([aria-current], :hover, :active, :focus),
input[type="button"]:is([aria-current], :hover, :active, :focus),
input[type="reset"]:is([aria-current], :hover, :active, :focus),
[role="button"] {
  --background-color: var(--color-primary-hover);
  --border-color: var(--color-primary-hover);
  --box-shadow: var(--box-shadow-button-hover, 0 0 0 rgba(0, 0, 0, 0));
  --color: var(--color-primary-inverse);
}

button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
[role="button"]:focus {
  --box-shadow: var(--box-shadow-button-hover, 0 0 0 rgba(0, 0, 0, 0)),
    0 0 0 var(--sizing-outline-width) var(--color-primary-focus);
}

/** Secondary */
:is(button, input[type="submit"], input[type="button"], [role="button"]).secondary,
input[type="reset"] {
  --background-color: var(--color-secondary);
  --border-color: var(--color-secondary);
  --color: var(--color-secondary-inverse);
  cursor: pointer;
}

:is(button, input[type="submit"], input[type="button"], [role="button"]).secondary:is([aria-current], :hover, :active, :focus),
input[type="reset"]:is([aria-current], :hover, :active, :focus) {
  --background-color: var(--color-secondary-hover);
  --border-color: var(--color-secondary-hover);
  --color: var(--color-secondary-inverse);
}

:is(button, input[type="submit"], input[type="button"], [role="button"]).secondary:focus,
input[type="reset"]:focus {
  --box-shadow: var(--box-shadow-button-hover, 0 0 0 rgba(0, 0, 0, 0)),
    0 0 0 var(--sizing-outline-width) var(--color-secondary-focus);
}

/** Contrast */
:is(button, input[type="submit"], input[type="button"], [role="button"]).contrast {
  --background-color: var(--color-contrast);
  --border-color: var(--color-contrast);
  --color: var(--color-contrast-inverse);
  }

:is(button, input[type="submit"], input[type="button"], [role="button"]).contrast:is([aria-current], :hover, :active, :focus) {
    --background-color: var(--color-contrast-hover);
    --border-color: var(--color-contrast-hover);
    --color: var(--color-contrast-inverse);
  }

:is(button, input[type="submit"], input[type="button"], [role="button"]).contrast:focus {
    --box-shadow: var(--box-shadow-button-hover, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--sizing-outline-width) var(--color-contrast-focus);
  }

/* Outline (primary) */
:is(button, input[type="submit"], input[type="button"], [role="button"]).outline,
input[type="reset"].outline {
  --background-color: transparent;
  --color: var(--color-primary);
}
:is(button, input[type="submit"], input[type="button"], [role="button"]).outline:is([aria-current], :hover, :active, :focus),
input[type="reset"].outline:is([aria-current], :hover, :active, :focus) {
  --background-color: transparent;
  --color: var(--color-primary-hover);
}

 /* Outline (secondary) */
:is(button, input[type="submit"], input[type="button"], [role="button"]).outline.secondary,
input[type="reset"].outline {
  --color: var(--secondary);
 }

:is(button, input[type="submit"], input[type="button"], [role="button"]).outline.secondary:is([aria-current], :hover, :active, :focus),
input[type="reset"].outline:is([aria-current], :hover, :active, :focus) {
  --color: var(--secondary-hover);
}

/* Outline (contrast) */
:is(button, input[type="submit"], input[type="button"], [role="button"]).outline.contrast {
  --color: var(--contrast);
}

:is(button, input[type="submit"], input[type="button"], [role="button"]).outline.contrast:is([aria-current], :hover, :active, :focus) {
  --color: var(--contrast-hover);
}

/** Disabled */
:where(button, [type="submit"], [type="button"], [type="reset"], [role="button"])[disabled],
:where(fieldset[disabled])
  :is(button, [type="submit"], [type="button"], [type="reset"], [role="button"]),
a[role="button"]:not([href]) {
  opacity: 0.5;
  pointer-events: none;
}
