:root {
  --body-background-color: var(--color-background);
}

/* Containers body (> #root) > { main, header, footer, aside }(.fluid) */
body,
#body {
  width: 100%;
  background-color: var(--body-background-color);
}

:is(body, #body) > :is(main, header, footer).fluid {
  width: 100%;
  max-width: 100%;
}

:is(body, #body) > :is(main, header, footer) {
  margin: 0 auto;
  padding: 0 var(--spacing-block-horizontal);
}

@media (min-width: 0px) {
  :is(body, #body) > :is(main, header, footer) {
    padding: 0;
  }
}

@media (min-width: 425px) {
  :is(body, #body) > :is(main, header, footer) {
    max-width: 425px;
    padding: 0 var(--spacing--block-horizontal);
  }
}

@media (min-width: 768px) {
  :is(body, #body) > :is(main, header, footer) {
    max-width: 596.5px;
  }
}

@media (min-width: 1024px) {
  :is(body, #body) > :is(main, header, footer) {
    max-width: 896px;
  }
}

@media (min-width: 1440px) {
  :is(body, #body) > :is(main, header, footer) {
    max-width: 1232px;
  }
}

/*
$breakpoints: (
  xs: 0,
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,

$viewports: (
  // 'null' disable the viewport on a breakpoint
  sm: 510px,
  md: 700px,
  lg: 920px,
  xl: 1130px
*/
