:root {
  --body-background-color: var(--color-background);
}

/* Containers body (> #root) > { main, header, footer, aside }(.fluid) */
body:not(:has(#root)),
#root {
  width: 100%;
  background-color: var(--body-background-color);
}

:is(body, #body, #root) > :is(main, header, footer).fluid {
  width: 100%;
  max-width: 100%;
}

:is(body, #body, #root) > :is(main, header, footer) {
  margin: 0 auto;
  padding: 0 var(--spacing-block-horizontal);
}

:is(body, #body, #root) > :is(header) {
  order: 10;
}

:is(body, #body, #root) > :is(aside:has(> nav)) {
  order: 20;
}

:is(body, #body, #root) > :is(main) {
  order: 30;
}

:is(body, #body, #root) > :is(footer) {
  order: 40;
}

:is(body, #body, #root) > :is(main:first-of-type) {
  padding-top: var(--spacing-block-vertical);
}

:is(body, #body, #root) > :is(footer:first-of-type) {
  padding-top: calc(var(--spacing-block-vertical) / 2);
}

@media (min-width: 0px) {
  :is(body, #body, #root) > :is(main, header, footer) {
    padding: 0;
  }
}

@media (min-width: 425px) {
  :is(body, #body, #root) > :is(main, header, footer) {
    max-width: 425px;
    padding: 0 var(--spacing--block-horizontal);
  }
}

@media (min-width: 768px) {
  :is(body, #body, #root) > :is(main, header, footer) {
    max-width: 596.5px;
  }
}

@media (min-width: 1024px) {
  :is(body, #body, #root) > :is(main, header, footer) {
    max-width: 896px;
  }
}

@media (min-width: 1440px) {
  :is(body, #body, #root) > :is(main, header, footer) {
    max-width: 1232px;
  }
}

@media (min-width: 2560px) {
  :is(body, #body, #root) > :is(main, header, footer) {
    max-width: 2170px;
  }
}

@media print {
  :is(body, #body, #root) > :is(main, header, footer) {
    max-width: 100%;
  }
}
