:root {
  --table-row-stripped-head-color: var(--white);
  --table-row-stripped-head-background-color: hsl(var(--grey-hue) 20% 30%);
  --table-row-stripped-odd-background-color: hsl(var(--grey-hue) 30% 98%);
  --table-row-stripped-even-background-color: hsl(var(--grey-hue) 30% 88%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --table-row-stripped-head-color: var(--black);
    --table-row-stripped-head-background-color: hsl(var(--grey-hue) 20% 70%);
    --table-row-stripped-odd-background-color: hsl(var(--grey-hue) 30% 02%);
    --table-row-stripped-even-background-color: hsl(var(--grey-hue) 30% 12%);
  }
}

:where(table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

th,
td {
  padding: calc(var(--spacing) / 2) var(--spacing);
  border-bottom: var(--border-width) solid var(--table-border-color);
  font-family: var(--font-family-table);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  text-align: start;
}

thead th,
thead td {
  font-weight: bolder;
}

tfoot th,
tfoot td {
  border-top: var(--border-width) solid var(--table-border-color);
  border-bottom: 0;
  font-weight: bolder;
}

:is(thead, tfoot) tr {
  background-color: var(--table-row-stripped-head-background-color);
  color: var(--table-row-stripped-head-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--table-row-stripped-odd-background-color);
}

tbody tr:nth-child(even) {
  background-color: var(--table-row-stripped-even-background-color);
}
