address,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  margin-bottom: var(--spacing-typography-vertical);
  color: var(--color);
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}
:where(
    address,
    blockquote,
    dl,
    figure,
    form,
    ol,
    p,
    pre:not(:has(> code.hljs)),
    table,
    ul
  ):last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: 700;
  /* --font-scale: 1.125; /* Major Second */
  /* --font-size: calc(1rem * pow(var(--font-scale), var(--h-level) - 2)); */
  margin-top: 0;
  margin-bottom: var(--spacing-typography-vertical);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: calc(var(--font-size) * 1rem);
  font-family: var(--font-family-header);
}

:where(h1, h2, h3, h4, h5, h6):last-child {
  margin-bottom: 0;
}

h1 {
  --h-level: 1;
  --font-size: 1.802;
  --color: var(--color-h1);
}
h2 {
  --h-level: 2;
  --font-size: 1.602;
  --color: var(--color-h2);
}
h3 {
  --h-level: 3;
  --font-size: 1.424;
  --color: var(--color-h3);
}
h4 {
  --h-level: 4;
  --font-size: 1.266;
  --color: var(--color-h4);
}
h5 {
  --h-level: 5;
  --font-size: 1.125;
  --color: var(--color-h5);
}
h6 {
  --h-level: 6;
  --font-size: 1;
  --color: var(--color-h6);
}

:where(address, blockquote, dl, figure, form, ol, p, pre, table, ul)
  ~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--spacing-typography-vertical);
}

hgroup {
  margin-bottom: var(--spacing-typography-vertical);
}
hgroup > :where(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0;
}
hgroup > :where(h1, h2, h3, h4, h5, h6):last-child {
  --color: var(--color-muted);
  --font-weight: unset;
  font-size: 1rem;
  font-family: unset;
}

p {
  margin-bottom: var(--spacing-typography-vertical);
}

:where(dl, ol, ul) :is(dl, ol, ul) {
  margin: 0;
  margin-top: calc(var(--spacing-typography-vertical) * 0.25);
}

ul li {
  list-style: circle;
}

blockquote {
  display: block;
  margin: var(--spacing-typography-vertical) 0;
  padding: var(--spacing);
  border-right: none;
  border-left: var(--sizing-border-width) solid var(--color-blockquote-border);
  border-inline-start: var(--sizing-border-width) solid
    var(--color-blockquote-border);
  border-inline-end: none;
}

blockquote > footer {
  margin-top: calc(var(--spacing-typography-vertical) * 0.5);
  color: var(--color-blockquote-footer);
}
