/**
 * https://github.com/csstools/sanitize.css v13.0.0
 */

@import './sanitize.css';
@import './forms.css';
@import './assets.css';
@import './typography.css';
@import './reduce-motion.css';

hr {
  height: 0;
  border: 0;
  border-top: var(--sizing-block-border-width) solid var(--color-muted-border);
  color: inherit;
}

[hidden],
template {
  display: none !important;
}

canvas {
  display: inline-block;
}