:root {
  color-scheme: light;

  --white: hwb(0 100% 0%);
  --black: hwb(0 0% 100%);
  --grey-hue: 205deg;
  --grey: hwb(var(--grey-hue) 80% 10%);

  --blue-hue: 195deg;
  --amber-hue: 45deg;
  --red-hue: 5deg;
  --green-hue: 125deg;

  --brand-luminance: 95%;
  --brand-chroma: 0.2;
  --brand-hue: 115deg;

  --brand-primary-color: oklch(
    var(--brand-luminance) var(--brand-chroma) var(--brand-hue)
  );

  --base-luminance: 95%;
  --base-chroma: 0.01;
  --page-background-color: oklch(
    var(--base-luminance) var(--base-chroma, 0) var(--grey-hue)
  );

  --base-border-color: black;

  /** Typography Colors */
  --base-text-color: black;
  --mark-background-color: hsl(var(--amber-hue) 100% 90%);
  --mark-color: hsl(var(--amber-hue) 80% 30%);
  --ins-color: hsl(var(--green-hue) 60% 40%);
  --del-color: hsl(var(--red-hue) 65% 45%);

  --hyperlink-color: var(--base-text-color);
  --hyperlink-hover-color: none;
  --hyperlink-visited-color: var(--grey);
  --hyperlink-focus-background-color: none;

  /* Component colors */
  --card-background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --base-luminance: 30%;

    --grey: hwb(var(--grey-hue) 80% 60%);

    --brand-luminance: 58%;
    --base-border-color: white;
    --base-text-color: white;
    --hyperlink-color: lightblue;

    --card-background-color: black;
  }
}

@media print {
  :root {
    --hyperlink-color: none;
  }
}
