:root {
  --base-font-weight: normal;
  --body-font-family: var(--brand-body-font-family, var(--base-body-font-family));
  --header-font-family: var(--brand-header-font-family, var(--base-header-font-family));
  --label-font-family: var(--brand-label-font-family, var(--base-label-font-family));
  --nav-font-family: var(--brand-nav-font-family, var(--base-nav-font-family));
  --monospace-font-family: var(--brand-monospace-font-family, var(--base-monospace-font-family));
}
