:root {
  --grid-column-count: 1;
  --grid-spacing-horizontal: var(--spacing-block-horizontal);
  --grid-spacing-vertical: var(--spacing-block-vertical);
}

@media (min-width: 425px) {
  :root {
    --grid-column-count: 2;
  }
}

@media (min-width: 768px) {
  :root {
    --grid-column-count: 3;
  }
}

@media (min-width: 1024px) {
  :root {
    --grid-column-count: 4;
  }
}

@media (min-width: 1440px) {
  :root {
    --grid-column-count: 5;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  gap: var(--grid-spacing-vertical) var(--grid-spacing-horizontal);
}
