:root {
  --transition-time: 0.2s;
  --transition-function: ease-in-out;
  --transition: var(--transition-time) var(--transition-function);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-time: 0s;
  }
}
