:root {
  --elevation-angle: 22deg;
  --elevation-height: 1;

  --border-style: solid;
  --border-color: var(--color-border);
  --border-color-muted: color-mix(
    in oklab,
    var(--border-color) 20%,
    var(--card-background-color)
  );
  --border-width: var(--sizing-border-width);

  --border: var(--border-width) var(--border-style) var(--border-color);
  --border-muted: var(--border-width) var(--border-style)
    var(--border-color-muted);
  --border-empty: var(--border-width) solid transparent;
}

* {
  --box-shadow-elevation-x: calc(
    var(--elevation-height, 1) * cos(var(--elevation-angle))
  );
  --box-shadow-elevation-y: calc(
    var(--elevation-height, 1) * sin(var(--elevation-angle))
  );
  --box-shadow-elevation: calc(2px * var(--box-shadow-elevation-x))
      calc(2px * var(--box-shadow-elevation-y))
      calc(5px * var(--elevation-height))
      rgba(0, 0, 0, calc(0.05 + calc(0.05 * var(--elevation-height)))),
    calc(1px * var(--box-shadow-elevation-x))
      calc(1px * var(--box-shadow-elevation-y))
      calc(2px * var(--elevation-height))
      rgba(0, 0, 0, calc(0.25 - calc(0.01 * var(--elevation-height, 1))));
}

.elevation {
  box-shadow: var(--box-shadow-elevation);
}

.elevation-1 {
  --elevation-height: 1;
  box-shadow: var(--box-shadow-elevation);
}
.elevation-2 {
  --elevation-height: 2;
  box-shadow: var(--box-shadow-elevation);
}
.elevation-3 {
  --elevation-height: 3;
  box-shadow: var(--box-shadow-elevation);
}
.elevation-4 {
  --elevation-height: 4;
  box-shadow: var(--box-shadow-elevation);
}
.elevation-5 {
  --elevation-height: 5;
  box-shadow: var(--box-shadow-elevation);
}
