:root {
  color-scheme: light;

  --chroma: 0.2;
  --base-chroma: 0.004;
  --base-luminance: 98%;
  --text-luminance: 0%;

  --white: hwb(0 100% 0%);
  --black: hwb(0 0% 100%);
  --grey-hue: 205deg;
  --grey: hwb(var(--grey-hue) 80% 10%);

  --blue-hue: 195deg;
  --amber-hue: 45deg;
  --red-hue: 5deg;
  --green-hue: 125deg;

  --color-text: black;
  --color-background: oklch(
    var(--base-luminance) var(--base-chroma, 0) var(--grey-hue)
  );
  /* --color-background: hsl(var(--grey-hue) 5% 98%); */
  --color-muted: hsl(var(--grey-hue) 10% 50%);
  --color-border: hsl(var(--grey-hue) 20% 25%);

  --color-base-amount: 20%;
  --color-primary: oklch(
    var(--base-luminance) var(--chroma) var(--color-primary-hue)
  );

  --color-primary-hue: 115deg;
  --color-accent-amount: 55%;
  --color-accent: color-mix(
    in oklch,
    var(--color-text) var(--color-accent-amount),
    var(--color-primary)
  );

  --color-secondary-hue: calc(var(--color-primary-hue) + 60deg);
  --color-contrast-hue: calc(var(--color-primary-hue) - 120deg);

  --color-ins: hsl(var(--green-hue) 60% 40%);
  --color-del: hsl(var(--red-hue) 65% 45%);

  --color-mark: hsl(var(--amber-hue) 80% 30%);
  --color-mark-background: hsl(var(--amber-hue) 100% 90%);

  --color-blockquote-border: var(--color-border);
  --color-blockquote-footer: var(--color-muted);

  --color-table-border: var(--color-border);

  --color-form-element-background: transparent;
  --color-form-element-border: hsl(var(--grey-hue) 14% 68%);
  --color-form-element: var(--text-color);
  --color-form-element-placeholder: var(--color-muted);
  --color-form-element-active-background: transparent;
  --color-form-element-active-border: var(--color-primary);
  --color-form-element-focus: var(--color-primary-focus);
  --color-form-element-disabled-background: hsl(var(--grey-hue) 18% 86%);
  --color-form-element-disabled-border: hsl(var(--grey-hue) 14% 68%);
  --opacity-form-element-disabled: 0.5;

  --color-invalid-hue: var(--red-hue);
  --color-invalid: hsl(var(--color-invalid-hue) 65% 45%);
  --color-invalid-active: hsl(var(--color-invalid-hue) 65% 50%);
  --color-invalid-focus: hsl(var(--color-invalid-hue) 65% 50%);

  --color-valid-hue: var(--green-hue);
  --color-valid-saturation: 40%;
  --color-valid-lightness: 35%;
  --color-valid-opacity: var(--color-opacity);
  --color-valid: hsl(var(--color-valid-hue) 40% 35%);

  --color-valid-active-hue: var(--color-valid-hue);
  --color-valid-active: hsl(var(--color-valid-hue) 45% 40%);
  --color-valid-focus: hsl(var(--color-valid-hue) 45% 40%);

  --color-hyperlink: blue;
  --color-hyperlink-visted: none;
  --color-hyperlink-focus: none;
  --color-hyperlink-hover: none;
  /* --color-hyperlink-active: red; */
  /* --color-hyperlink-focus: red; */
  /* --color-hyperlink-hover: red; */
}

:where(*) {
  --color: oklch(
    var(--luminance, var(--base-luminance)) var(--chroma)
      var(--color-hue, var(--color-primary-hue))
  );

  --color-hover: color-mix(in oklab, var(--color) 85%, white);
  --color-focus: color-mix(in oklab, var(--color) 90%, white);
  --color-active: color-mix(in oklab, var(--color) 85%, black);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;

    --chroma: 0.3;
    --base-luminance: 30%;
    --color-text: white;
    --color-form-element-disabled-background: hsl(var(--grey-hue) 18% 30%);

    --color-hyperlink: lightblue;
  }
}

@media print {
  :root {
    --color-hyperlink: none;
    --base-chroma: 0;
    --body-background-color: white;
  }
}
