:root {
  color-scheme: light;

  --grey-hue: 205deg;
  --blue-hue: 195deg;
  --amber-hue: 45deg;
  --red-hue: 5deg;
  --green-hue: 125deg;
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 100%, 0%);
  --grey-s: 30%;
  --grey-l: 15%;
  --grey: hsl(var(--grey-hue) var(--grey-s) var(--grey-l));

  --saturation: 30%;
  --lightness: 15%;

  --color-h1: hsl(var(--grey-hue) 30% 15%);
  --color-h2: hsl(var(--grey-hue) 27.5% 20%);
  --color-h3: hsl(var(--grey-hue) 25% 25%);
  --color-h4: hsl(var(--grey-hue) 22.5% 30%);
  --color-h5: hsl(var(--grey-hue) 20% 35%);
  --color-h6: hsl(var(--grey-hue) 17.5% 40%);

  --color-hue: var(--grey-hue);
  --color-saturation: var(--saturation);
  --color-lightness: var(--lightness);
  --color-opacity: 1;
  --color-focus-opacity: 0.125;
  --color: hsl(
    var(--color-hue) var(--color-saturation) var(--color-lightness) /
      var(--color-opacity)
  );

  --color-background-hue: var(--grey-hue);
  --color-background-saturation: 5%;
  --color-background-lightness: 95%;
  --color-background-opacity: 1;
  --color-background: hsl(
    var(--color-background-hue) var(--color-background-saturation)
      var(--color-background-lightness) / var(--color-background-opacity)
  );

  --color-muted-hue: var(--grey-hue);
  --color-muted-saturation: 10%;
  --color-muted-lightness: 50%;
  --color-muted-opacity: 1;
  --color-muted: hsl(
    var(--color-muted-hue) var(--color-muted-saturation)
      var(--color-muted-lightness) / var(--color-muted-opacity)
  );

  --color-border-hue: var(--grey-hue);
  --color-border-saturation: 20%;
  --color-border-lightness: 25%;
  --color-border-opacity: 1;
  --color-border: hsl(
    var(--color-border-hue) var(--color-border-saturation)
      var(--color-border-lightness) / var(--color-border-opacity)
  );

  --color-border-muted-hue: var(--color-muted-hue);
  --color-border-muted-saturation: var(--color-muted-saturation);
  --color-border-muted-lightness: 80%;
  --color-border-muted-opacity: 1;
  --color-border-muted: hsl(
    var(--color-border-muted-hue) var(--color-border-muted-saturation)
      var(--color-border-muted-lightness) / var(--color-border-muted-opacity)
  );

  --color-primary-hue: 115deg;
  --color-primary-saturation: 90%;
  --color-primary-lightness: 30%;
  --color-primary-opacity: 1;
  --color-primary: hsl(
    var(--color-primary-hue) var(--color-primary-saturation)
      var(--color-primary-lightness) / var(--color-primary-opacity)
  );

  --color-primary-inverse: var(--white);

  --color-primary-focus-hue: var(--color-primary-hue);
  --color-primary-focus-saturation: 90%;
  --color-primary-focus-lightness: 30%;
  --color-primary-focus-opacity: var(--color-focus-opacity);
  --color-primary-focus: hsl(
    var(--color-primary-focus-hue) var(--color-primary-focus-saturation)
      var(--color-primary-focus-lightness) / var(--color-primary-focus-opacity)
  );

  --color-accent-hue: 105deg;
  --color-accent-saturation: 100%;
  --color-accent-lightness: 85%;
  --color-accent-opacity: 1;
  --color-accent: hsl(
    var(--color-accent-hue) var(--color-accent-saturation)
      var(--color-accent-lightness) / var(--color-accent-opacity)
  );

  --color-secondary-hue: var(--grey-hue);
  --color-secondary-saturation: 15%;
  --color-secondary-lightness: 40%;
  --color-secondary-opacity: 1;
  --color-secondary: hsl(
    var(--color-secondary-hue) var(--color-secondary-saturation)
      var(--color-secondary-lightness) / var(--color-secondary-opacity)
  );
  --color-secondary-inverse: var(--color-inverse);

  --color-secondary-hover-hue: var(--color-secondary-hue);
  --color-secondary-hover-saturation: 20%;
  --color-secondary-hover-lightness: 30%;
  --color-secondary-hover-opacity: var(--color-secondary-opacity);
  --color-secondary-hover: hsl(
    var(--color-secondary-hover-hue) var(--color-secondary-hover-saturation)
      var(--color-secondary-hover-lightness) /
      var(--color-secondary-hover-opacity)
  );

  --color-secondary-focus-hue: var(--color-secondary-hue);
  --color-secondary-focus-saturation: 90%;
  --color-secondary-focus-lightness: 30%;
  --color-secondary-focus-opacity: var(--color-focus-opacity);
  --color-secondary-focus: hsl(
    var(--color-secondary-focus-hue) var(--color-secondary-focus-saturation)
      var(--color-secondary-focus-lightness) /
      var(--color-secondary-focus-opacity)
  );

  --color-secondary-inverse: var(--color-primary-inverse);

  --color-contrast-hue: var(--grey-hue);
  --color-contrast-saturation: 30%;
  --color-contrast-lightness: 15%;
  --color-contrast-opacity: 1;
  --color-contrast: hsl(
    var(--color-contrast-hue) var(--color-contrast-saturation)
      var(--color-contrast-lightness) / var(--color-contrast-opacity)
  );

  --color-contrast-hover-hue: var(--color-contrast-hue);
  --color-contrast-hover-saturation: 100%;
  --color-contrast-hover-lightness: 0%;
  --color-contrast-hover-opacity: var(--color-contrast-opacity);
  --color-contrast-hover: hsl(
    var(--color-contrast-hover-hue) var(--color-contrast-hover-saturation)
      var(--color-contrast-hover-lightness) /
      var(--color-contrast-hover-opacity)
  );

  --color-contrast-focus-hue: var(--color-contrast-hue);
  --color-contrast-focus-saturation: 90%;
  --color-contrast-focus-lightness: 30%;
  --color-contrast-focus-opacity: var(--color-focus-opacity);
  --color-contrast-focus: hsl(
    var(--color-contrast-focus-hue) var(--color-contrast-focus-saturation)
      var(--color-contrast-focus-lightness) /
      var(--color-contrast-focus-opacity)
  );

  --color-contrast-inverse: var(--color-primary-inverse);

  --color-ins-hue: var(--green-hue);
  --color-ins-saturation: 60%;
  --color-ins-lightness: 40%;
  --color-ins-opacity: 1;
  --color-ins: hsl(
    var(--color-ins-hue) var(--color-ins-saturation) var(--color-ins-lightness) /
      var(--color-ins-opacity)
  );

  --color-del-hue: var(--red-hue);
  --color-del-saturation: 65%;
  --color-del-lightness: 45%;
  --color-del-opacity: 1;
  --color-del: hsl(
    var(--color-del-hue) var(--color-del-saturation) var(--color-del-lightness) /
      var(--color-del-opacity)
  );

  --color-mark-hue: var(--amber-hue);
  --color-mark-saturation: 80%;
  --color-mark-lightness: 30%;
  --color-mark-opacity: 1;
  --color-mark: hsl(
    var(--color-mark-hue) var(--color-mark-saturation)
      var(--color-mark-lightness) / var(--color-mark-opacity)
  );

  --color-mark-background-hue: var(--amber-hue);
  --color-mark-background-saturation: 100%;
  --color-mark-background-lightness: 90%;
  --color-mark-background-opacity: 1;
  --color-mark-background: hsl(
    var(--color-mark-background-hue) var(--color-mark-background-saturation)
      var(--color-mark-background-lightness) /
      var(--color-mark-background-opacity)
  );

  --color-blockquote-border: var(--color-border-muted);
  --color-blockquote-footer: var(--color-muted);

  --color-form-element-background: transparent;
  --color-form-element-border: hsl(var(--grey-hue) 14% 68%);
  --color-form-element: var(--color);
  --color-form-element-placeholder: var(--color-muted);
  --color-form-element-active-background: transparent;
  --color-form-element-active-border: var(--color-primary);
  --color-form-element-focus: var(--color-primary-focus);
  --color-form-element-disabled-background: hsl(var(--grey-hue) 18% 86%);
  --color-form-element-disabled-border: hsl(var(--grey-hue) 14% 68%);
  --opacity-form-element-disabled: 0.5;

  --color-invalid-hue: var(--red-hue);
  --color-invalid-saturation: 65%;
  --color-invalid-lightness: 45%;
  --color-invalid-opacity: var(--color-opacity);
  --color-invalid: hsl(
    var(--color-invalid-hue) var(--color-invalid-saturation)
      var(--color-invalid-lightness) / var(--color-invalid-opacity)
  );

  --color-invalid-active-hue: var(--color-invalid-hue);
  --color-invalid-active-saturation: var(--color-invalid-saturation);
  --color-invalid-active-lightness: calc(var(--color-invalid-lightness) + 5%);
  --color-invalid-active-opacity: var(--color--invalid-opacity);
  --color-invalid-active: hsl(
    var(--color-invalid-hue) var(--color-invalid-saturation)
      var(--color-invalid-lightness) / var(--color-invalid-opacity)
  );

  --color-invalid-focus-hue: var(--color-invalid-hue);
  --color-invalid-focus-saturation: var(--color-invalid-saturation);
  --color-invalid-focus-lightness: calc(var(--color-invalid-lightness) + 5%);
  --color-invalid-focus-opacity: var(--color-focus-opacity);
  --color-invalid-focus: hsl(
    var(--color-invalid-focus-hue) var(--color-invalid-focus-saturation)
      var(--color-invalid-focus-lightness) / var(--color-invalid-focus-opacity)
  );

  --color-valid-hue: var(--green-hue);
  --color-valid-saturation: 40%;
  --color-valid-lightness: 35%;
  --color-valid-opacity: var(--color-opacity);
  --color-valid: hsl(
    var(--color-valid-hue) var(--color-valid-saturation)
      var(--color-valid-lightness) / var(--color-valid-opacity)
  );

  --color-valid-active-hue: var(--color-valid-hue);
  --color-valid-active-saturation: calc(var(--color-valid-saturation) + 5%);
  --color-valid-active-lightness: calc(var(--color-valid-lightness) + 5%);
  --color-valid-active-opacity: var(--color-valid-opacity);
  --color-valid-active: hsl(
    var(--color-valid-hue) var(--color-valid-saturation)
      var(--color-valid-lightness) / var(--color-valid-opacity)
  );

  --color-valid-focus-hue: var(--color-valid-hue);
  --color-valid-focus-saturation: calc(var(--color-valid-saturation) + 5%);
  --color-valid-focus-lightness: calc(var(--color-valid-lightness) + 5%);
  --color-valid-focus-opacity: var(--color-focus-opacity);
  --color-valid-focus: hsl(
    var(--color-valid-focus-hue) var(--color-valid-focus-saturation) /
      var(--color-valid-focus-lightness) var(--color-valid-focus-opacity)
  );
}
