:root {
  --card-background-color: var(--white);
}

/** Articles are Material cards */

article {
  box-shadow: var(--card-box-shadow);
  border-radius: var(--sizing-border-radius);
  margin: var(--spacing-block-vertical) 0;
  --card-inner-border: var(--border-muted);
  background-color: var(--card-background-color);
}

article > header {
  /* margin-bottom: var(--spacing-block-vertical); */
  padding: var(--spacing-block-vertical) var(--spacing-block-horizontal);
  padding-bottom: 0;
  border-bottom: var(--card-inner-border);
}

article > main {
  padding: var(--spacing-block-vertical) var(--spacing-block-horizontal);
}

article > footer {
  border-top: var(--cord-border);
  margin-top: var(--spacing-block-vertical);
  padding: var(--spacing-block-vertical) var(--spacing-block-horizontal);
}
