:root {
  --header-nav-background-color: var(--color);
  --header-nav-color: color-mix(in srgb, black 70%, var(--color));
  --header-border-color: var(--color-accent);
  --header-border-width: calc(var(--border-width) * 2);
  --header-border-style: var(--border-style);
}

:is(body, #body, #root) > :is(header, footer):has(> nav) {
  --border: var(--header-border-width) var(--header-border-style)
    var(--header-border-color);
  background-color: var(--header-nav-background-color);
  color: var(--header-nav-color);
  box-shadow: var(--box-shadow-elevation-2);
  padding: 0 var(--spacing-block-horizontal);
}

:is(body, #body, #root) > header:has(> nav) {
  border-bottom: var(--border);
}

:is(body, #body, #root) > footer:has(> nav) {
  border-top: var(--border);
}

:is(body, #body, #root):has(> aside) {
  display: flex;
  flex-wrap: wrap;
}

:is(body, #body, #root):has(> aside) :is(header, footer) {
  flex-basis: 100%;
  flex-grow: 1;
}

:is(body, #body, #root):has(> aside) main {
  flex: 1;
}

:is(body, #body, #root) > aside:has(> nav) {
  float: left;
}

nav,
nav > ul {
  display: flex;
  flex-wrap: wrap;
}

nav > ul:first-child {
  margin-top: var(--spacing-block-vertical);
}

nav > ul:not(:last-child) {
  margin-bottom: var(--spacing-block-vertical);
}

aside nav > ul {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  aside :is(nav, nav > ul) {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  nav > ul li {
    width: 100%;
    padding: var(--spacing-nav-item-vertical) var(--spacing-nav-item-horizontal);
  }
}

aside nav {
  position: sticky;
  top: calc(var(--spacing-block-vertical));
}

aside nav ul li a {
  padding: var(--spacing-nav-item-vertical) var(--spacing-nav-item-horizontal);
}

nav {
  justify-content: space-between;
}

nav > ul {
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav > ul li {
  display: inline-block;
  margin: 0;
  transition: background-color var(--timing) ease-in-out;
  --background-color: transparent;
  background-color: var(--background-color);
  padding: 0 var(--spacing-typography-horizontal);
  transition: padding var(--transition);
}

nav > ul li:hover {
  padding-left: calc(2 * var(--spacing-typography-horizontal));
  padding-right: 0;
}

nav > ul li a {
  --text-color: color-mix(
    in oklch,
    var(--color-text) 55%,
    var(--header-nav-background-color)
  );
  font-size: var(--font-size-larger);
  transition: color 0s linear;
  --text-decoration: none;
}

nav > ul li:has(a:hover) {
  --background-color: var(--color-primary-hover);
}

nav > ul li a:hover {
  --text-color: color-mix(
    in oklab,
    var(--color-text) 65%,
    var(--header-nav-color)
  );
}

:where(header, footer) > nav > ul li a {
  --text-color: var(--color-text);
}

:where(header, footer) > nav > :where(h1, h2, h3, h4, h5, h6) a {
  --text-color: var(--color-text);
  --text-decoration: none;
}
